{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "eslint-plugin-import",
        "prettier"
    ],
    "env": {
        "browser": true
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "legacyDecorators": true
        }
    }
}